# Configurações do Banco de Dados PostgreSQL
POSTGRES_USER=underground
POSTGRES_PASSWORD=underground_secret
POSTGRES_DB=underground_tattoo
POSTGRES_PORT=5434

# Configurações do pgAdmin
PGADMIN_EMAIL=admin@underground.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050
